.feedback {
	$self: &;
		
	@include media('<=sm') {
		border-bottom: 1px solid #272727;
		margin-bottom: 50px;
		background: linear-gradient(to top, #151515 50%, rgba(21, 21, 21, 0)), url('#{$images-path}contact-bg-mobile.png') top center / 100% auto no-repeat;
	}
		
	@include media('<=xs') {
		// background: linear-gradient(to top, #151515 50%, rgba(21, 21, 21, 0)), url('#{$images-path}contact-bg-mobile.png') top center / 100% auto no-repeat;
	}

	&__inner {
		display: flex;
		min-height: 1040px;

		@include media('<=sm') {
			display: block;
		}
	}

	&__image {
		width: 50%;

		@include media('<=sm') {
			display: none;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&__side {
		box-sizing: border-box;
		width: 50%;
		padding: 20px 30px;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		
		@include media('<=sm') {
			padding: 400px 20px 50px;
			width: auto;
		}
	}

	&__form {
		width: 100%;
		max-width: 540px;
		margin-bottom: 40px;
	}
	
	&__extra {
		width: 100%;
		max-width: 540px;
	}

	&__write-us {
		font-family: "GTR", sans-serif;
		margin-bottom: 15px;
		color: #4D4D4D;
	}

	&__messengers {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__messenger {
		grid-column: span 1;
	}
}
