<footer class="footer">
	<div class="footer__inner container">
		<div class="footer__side">
			<a class="footer__logo" href="./"><img src="./images/logo-footer.png" alt=""></a>
			<a class="footer__email" href="mailto:contact@firstconcierge.com">contact@firstconcierge.com</a>
			<a class="footer__phone" href="tel:+971564088383">+971 56 40 88383</a>
			<div class="footer__socials">
				<a class="footer__social button button_small button_wapp" href="./">whatsapp</a>
				<a class="footer__social button button_small button_tgm" href="./">telegram</a>
				<a class="footer__social button button_small button_inst" href="./">instagram</a>
			</div>
		</div>
		<div class="footer__navi navi-f">
			<div class="navi-f__col">
				<h4 class="navi-f__title">First</h4>
				<div class="navi-f__links">
					<a class="navi-f__link" href="./">Услуги</a>
					<a class="navi-f__link" href="./">Преимущества</a>
					<a class="navi-f__link" href="./">Тарифы</a>
					<a class="navi-f__link" href="./">О компании</a>
				</div>
			</div>
			<div class="navi-f__col">
				<h4 class="navi-f__title">Услуги</h4>
				<div class="navi-f__links">
					<a class="navi-f__link" href="./">VIP бронирование</a>
					<a class="navi-f__link" href="./">Организация мероприятий</a>
					<a class="navi-f__link" href="./">Аренда авто и яхт</a>
					<a class="navi-f__link" href="./">Подбор недвижимости</a>
				</div>
			</div>
			<div class="navi-f__col">
				<div class="navi-f__links">
					<a class="navi-f__link" href="./">Личный менеджер</a>
					<a class="navi-f__link" href="./">Виза и резидентство</a>
					<a class="navi-f__link" href="./">Личный менеджер</a>
					<a class="navi-f__link" href="./">Поиск редких и уникальных вещей</a>
					<a class="navi-f__link" href="./">Индивидуальные туры и досуг</a>
				</div>
			</div>
			<div class="navi-f__col">
				<h4 class="navi-f__title">Контакты</h4>
				<div class="navi-f__links">
					<a class="navi-f__link" href="./">Связаться</a>
					<a class="navi-f__link" href="./">Предложения</a>
					<a class="navi-f__link" href="./">Сотрудничество</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom container">
		<div class="footer__partners">
			<a class="footer__partner" href="./"><img src="./images/partner-logo-1.png" alt=""></a>
			<a class="footer__partner" href="./"><img src="./images/partner-logo-2.png" alt=""></a>
		</div>
		<div class="footer__info">
			<a class="footer__info-link" href="./">Информация о компании</a>
			<a class="footer__info-link" href="./">Политика конфиденциальности</a>
		</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
