<section class="feedback">
	<div class="feedback__inner">
		<div class="feedback__image"><img src="./images/contact-side-image.png" alt=""></div>
		<div class="feedback__side">
			<form action="./" class="feedback__form form">
				<h2 class="form__title title">Чем мы можем<br> вам помочь?</h2>
				<div class="form__explain">Оставьте Ваши контактные данные, наш менеджер свяжется с вами в рабочее время</div>
				<fieldset class="form__fields">
					<label class="form__field" data-description="Как к вам обращаться?">
						<input type="text" placeholder="Василий Иванович">
					</label>
					<label class="form__field" data-description="Ваша электронная почта">
						<input type="text" placeholder="example@mail.com">
					</label>
					<label class="form__field" data-description="Ваш вопрос">
						<textarea placeholder="Напишите ваш вопрос сюда"></textarea>
					</label>
					<!-- <div class="form__alert"><span>Пожалуйста, заполните все поля</span></div> -->
					<div class="form__alert"></div>
				</fieldset>
				<button class="form__submit button button_primary" type="button">Отправить</button>
			</form>
			<div class="feedback__extra">
				<div class="feedback__write-us">Или напишите нам в мессенджеры:</div>
				<div class="feedback__messengers">
					<a class="feedback__messenger button button_outlined button_wapp" href="./">whatsapp</a>
					<a class="feedback__messenger button button_outlined button_tgm" href="./">telegram</a>
				</div>
			</div>
		</div>
	</div>
</section>