<header class="header"> 
	<div class="header__inner container">
		<a class="header__logo" href="./"><img src="./images/logo.svg" alt=""></a>
		<div class="header__navi navi-h" data-scroll-lock-scrollable>
			<buton class="navi-h__close"></buton>
			<a class="navi-h__logo-m" href="./"><img src="./images/logo-mobile.svg" alt=""></a>
			<div class="navi-h__menu">
				<a class="navi-h__link" href="./inner.html">Услуги</a>
				<a class="navi-h__link" href="./">Преимущества</a>
				<a class="navi-h__link" href="./">Тарифы</a>
				<a class="navi-h__link" href="http://localhost:3000/#about">О компании</a>
				<a class="navi-h__link" href="./">Контакты</a>
				<a class="navi-h__link" href="./">En</a>
			</div>
			<div class="navi-h__buttons-m">
				<a class="button button_small button_wapp" href="./">Whatsapp</a>
				<a class="button button_small button_tgm" href="./">Telegram</a>
				<a class="button button_small button_inst" href="./">Instagram</a>
				<a class="button button_small button_mail" href="./">Почта</a>
				<a class="button button_small button_phone" href="./">Позвонить</a>
			</div>
		</div>
		<div class="header__side">
			<a class="header__button" href="./"><span>Связаться в whatsapp</span></a>
			<button class="header__navi-toggle"></button>
		</div>
	</div>
</header> 
