<!DOCTYPE html> 
<html lang="ru"> 
<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<link rel="shortcut icon" href="images/favicon.ico"> 
	<link rel="stylesheet" href="style.css"> 
	<title></title>
	<style>
		:root {
			--home-hero-bg: url('./images/hero-bg-1.png');
			--home-hero-bg-mobile: url('./images/hero-bg-top-1.png');
			--inner-hero-bg: url('./images/hero-bg-2.png');
			--inner-hero-bg-mobile: url('./images/hero-bg-top-2.png');
		}
	</style>
</head> 
<body class="@@if(this.class){@@class}"> 
