<header class="header"> 
	<div class="header__inner container">
		<a class="header__logo" href="./"><img src="./images/logo.png" alt=""></a>
		<div class="header__navi h-navi" data-scroll-lock-scrollable>
			<buton class="h-navi__close"></buton>
			<a class="h-navi__logo-m" href="./"><img src="./images/logo-mobile.png" alt=""></a>
			<div class="h-navi__menu">
				<a class="h-navi__link" href="./">Услуги</a>
				<a class="h-navi__link" href="./">Преимущества</a>
				<a class="h-navi__link" href="./">Тарифы</a>
				<a class="h-navi__link" href="./">О компании</a>
				<a class="h-navi__link" href="./">Контакты</a>
				<a class="h-navi__link" href="./">En</a>
			</div>
			<div class="h-navi__buttons-m">
				<a class="button button_small button_wapp" href="./">Whatsapp</a>
				<a class="button button_small button_tgm" href="./">Telegram</a>
				<a class="button button_small button_inst" href="./">Instagram</a>
				<a class="button button_small button_mail" href="./">Почта</a>
				<a class="button button_small button_phone" href="./">Позвонить</a>
			</div>
		</div>
		<div class="header__side">
			<a class="header__button" href="./"><span>Связаться в whatsapp</span></a>
			<button class="header__navi-toggle"></button>
		</div>
	</div>
</header> 
