.head {
	$self: &;
	display: grid;
	grid-template-columns: minmax(420px, 1fr) 2fr;
	grid-gap: 20px;

	@include media('<=md') {
		display: block;
	}

	&__title {
		grid-column: 1 / span 1;

		@include media('<=md') {
			margin-bottom: 20px;
		}
	}
	
	&__text {
		grid-column: 2 / span 2;
		font-family: "GTR", sans-serif;
		max-width: 700px;
		font-size: 20px;
		line-height: 1.4;
		color: #fff;
		
		@include media('<=sm') {
			line-height: 1.55;
			font-size: 16px;
		}
		
		@include media('<=xs') {
			font-size: 14px;
		}
	}
}
