.advice {
	$self: &;
	padding: 100px 0;
	
	@include media('<=xs') {
		padding: 50px 0;
	}

	&__inner {
		display: grid;
		grid-template-columns: minmax(420px, 1fr) 2fr;
		grid-gap: 20px;
		align-items: center;

		@include media('<=lg') {
			display: block;
		}
	}

	&__side {
		grid-column: span 1;

		@include media('<=lg') {
			margin-bottom: 40px;
		}
	}

	&__title {
		margin-bottom: 16px;
	}
	
	&__text {
		font-family: "GTR", sans-serif;
		font-size: 20px;
		color: #fff;
		margin-bottom: 35px;
		
		@include media('<=sm') {
			font-size: 18px;
		}
		
		@include media('<=xs') {
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			font-size: 14px;
		}
	}

	&__button {
		
		@include media('<=xxs') {
			width: 100%;
		}
	}

	&__cards {
		grid-column: span 1;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 38px;
		width: 100%;
		
		@include media('<=xxlg') {
			grid-gap: 24px;
		}
		
		@include media('<=sm') {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 40px 20px;
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
		}
	}

	&__card {
		grid-column: span 1;
	}
}
