.hero {
	$self: &;
	box-sizing: border-box;
	height: 100vh;
	margin-top: -90px;
	padding-top: 90px;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('#{$images-path}hero-bg-1.png') center top / cover no-repeat transparent;
	
	@include media('<=xs') {
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('#{$images-path}hero-bg-top-1.png') center top / cover no-repeat transparent;
		max-height: 800px;
		padding-top: 70px;
		margin-top: -70px;
	}

	&__inner {
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		position: relative;
	}

	&__content {
		width: 100%;
		min-height: 53%;
		margin-top: auto;
		
		@include media('<=md') {
			min-height: 63%;
		}
		
		@include media('<=xs') {
			min-height: auto;
			margin-bottom: 50px;
		}
	}

	&__lure {
		text-transform: uppercase;
		font-size: 20px;
		color: #fff;
		margin-bottom: 35px;
		display: flex;
		align-items: center;
		
		@include media('<=md') {
			font-size: 16px;
		}
		
		@include media('<=xs') {
			font-size: 10px;
		}

		&::before {
			display: block;
			content: '';
			height: 20px;
			width: 20px;
			background: url('#{$images-path}icons-sprite.svg#icon-star-view-light') center / auto no-repeat transparent;
			margin-right: 12px;
			
			@include media('<=xs') {
				height: 16px;
				width: 16px;
			}
		}
	}
	
	&__title {
		font-size: 52px;
		text-transform: uppercase;
		color: #fff;
		padding-bottom: 22px;
		margin-bottom: 22px;
		
		@include media('<=lg') {
			font-size: 48px;
		}
		
		@include media('<=sm') {
			font-size: 36px;
		}
		
		@include media('<=xs') {
			font-size: 24px;
		}

		&_lined {
			border-bottom: 2px solid $accent;
		}

		span {
			display: block;
			letter-spacing: 0.16em;

			&:nth-child(1) {
				font-family: "GGSB", sans-serif;
				color: $accent;
			}

			&:nth-child(2) {

			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&_main {
			
		}
	}

	&__button {
		margin-bottom: 20px;

		@include media('<=xs') {
			display: none;
		}
	}

	&__text {

	}

	&__side-text {
		font-family: "GTR", sans-serif;
		font-size: 28px;
		color: #fff;

		@include media('<=lg') {
			font-size: 24px;
		}
		
		@include media('<=md') {
			font-size: 20px;
		}
		
		@include media('<=xs') {
			font-size: 16px;
		}
	}

	&__buttons-m {
		display: none;
		margin-bottom: 30px;

		@include media('<=xs') {
			display: block;
		}

		.button {
			width: 100%;

			& + .button {
				margin-top: 12px;
			}
		}
	}

	&__down {
		@extend %reset-button;
		width: 40px;
		height: 20px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr-down-view-') center / 25px 13px no-repeat transparent;
		position: absolute;
		bottom: 55px;
		left: calc(50% - 20px);
		transition: filter 0.3s;

		&:hover {
			filter: drop-shadow(0 0 3px #fff);
		}
		  
		@include media('<=xs') {
			display: none;
		}
	}
}
