.card-a {
	$self: &;
	padding: 90px 20px;
	display: flex;
	justify-content: center;
	
	@include media('<=xs') {
		justify-content: flex-start;
		padding: 0;
	}

	&__inner {
		max-width: 460px;

		&::before {
			display: none;
			content: '';
			width: 48px;
			height: 48px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-bottom: 33px;
			
			@include media('<=xs') {
				margin-bottom: 20px;
				height: 36px;
				width: 36px;
			}
		}
	
		&_crown::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-crown-view-light');
		}
		
		&_jewel::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-gewel-view-light');
		}
		
		&_timer::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-timer-view-light');
		}
	}

	&__title {
		margin-bottom: 12px;
	}

	&__text {
		font-family: "GTR", sans-serif;
		line-height: 1.4;
		color: #fff;
		
		@include media('<=sm') {
			line-height: 1.6;
			font-size: 14px;
		}
	}
}
