.service {
	$self: &;
	margin-bottom: 60px;

	&__title {
		margin-bottom: 30px;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 20px;
		
		@include media('<=xxlg') {
			grid-template-columns: repeat(3, 1fr);
		}
		
		@include media('<=md') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xxs') {
			grid-template-columns: 1fr;
			grid-gap: 16px;
		}
	}

	&__card {
		grid-column: span 1;
	}
}
